
{% load static %}
<!DOCTYPE html>
{%load extras %}
<html>
<head>
<title>褥瘡傷口分析暨敷料追蹤系統</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- for-mobile-apps
<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>


<link rel="stylesheet" href="{% static 'jquery/jquery-ui.css' %}" >

<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'jquery/jquery-ui.js' %}"></script>
 <link rel="shortcut icon" href="/media/icon/favicon.png">
 <script src="{% static 'js/barcode-reader.min.js' %}"></script>
 <link  rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"

 />

  />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

 -->

 <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
 <link  rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
<script src="{% static "js/bootstrap.bundle.js" %}"></script>

<link  rel="stylesheet"  href="{% static "css/font-awesome.css" %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
<meta charset="utf-8">




<link  rel="stylesheet" href="{% static "css/style.css" %}" />

<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- remove this if you use Modernizr -->
</head>
<body >
<!--<button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>-->

    <header class="container navbar-default sticky-top col-12" style="background-color: #e3f2fd;">
    {%block header%}
    {%endblock%}
    </header>
    {%block content%}
    {%endblock%}



    <footer class="fixed-bottom">
          <div class="footer-copyright text-center py-3 mx-2 text-white">
    	<p>本人工智慧程式屬於輔大醫院、台大醫院以及台大生醫電資所擁有。 </p>
          </div>
    </footer>
</body>

</html>
